.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-column-reverse {
    flex-direction: column-reverse;
}
.content-start {
    justify-content: flex-start;
}
.content-end {
    justify-content: flex-end;
}
.content-center {
    justify-content: center;
}
.content-between {
    justify-content: space-between;
}
.content-around {
    justify-content: space-around;
}
.items-stretch {
    align-items: stretch;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.flex-auto {
    flex: auto;
}
.h-60 {
    height: 60px;
}
.h-85 {
    height: 85px;
}
.h-100{
    height: 100px;
}
.fs-20 {
    font-size: 20px;
}
.pbt10 {
    padding-bottom: 12px;
    padding-top: 12px;
}
.plr10 {
    padding-left: 12px;
    padding-right: 12px;
}
.plr100 {
    padding-left: 150px;
    padding-right: 150px;
}
.mr50 {
    margin-right: 50px;
}
.mr80 {
    margin-right: 80px;
}
.fs20 {
    font-size: 20px;
}
.fs30 {
    font-size: 30px;
}
.fs40 {
    font-size: 40px;
}
.cursor-pointer {
    cursor: pointer;
}

.body {
    width: 1200px;
}

.header {
    background-image: url(/images/rectangle-header.png);
    height: 110px;
    margin-left: 150px;
    margin-right: 150px;
}
// progress {
//     color: blue;
// }
//     progress::-webkit-progress-bar {
//     background-color: white;
// }
//     progress::-webkit-progress-value {
//     background-color: green;
// }
.rectangle-progress {
    background-image: url(/images/rectangle-progress.png);
}
.progress {
    // background-color: green;
    // border: 1px solid black;
    // border-radius: 20%;
    height: 40px;
    width: 350px;
}
.pause {
    background-image: url(/images/pause.png);
    height: 80px;
    width: 80px;
}
.pause:hover {
    filter: drop-shadow(2px 3px 5px white);  
}

.playing-field {
    background-image: url(/images/field.png);

    
}
.cell {
    width: 48px;
    height: 48px;
}
.cell:hover {
    filter: drop-shadow(4px 6px 8px white);
}
.cellActive {
    filter: drop-shadow(3px 4px 6px rgb(9, 255, 9));
    // background-color: rgb(9, 255, 9);
}
.celMistake{
    filter: drop-shadow(3px 4px 5px rgb(255, 9, 9));
    cursor: no-drop;
    // background-color: rgb(255, 9, 9);
}
.win {
    width: 500px;
    height: 500px;
}


.size-rectangle {
    background-size: 100% 100%;
}
.panel-score {
    background-image: url(/images/rectangle-interface.png);
    width: 350px;
    height: 350px;
    z-index: 2;
}
.rectangle-time {
    position: relative;
    background-image: url(/images/rectangle-time.png);
    width: 180px;
    height: 80px;
    z-index: 1;
    top: 40px;
    font-size: large;
}
.elipse-time {
    position: relative;
    background-image: url(/images/elipse-time.png);
    width: 200px;
    height: 200px;
}
.rectangle-score {
    background-image: url(/images/rectangle-score.png);
    width: 260px;
    height: 100px;
    margin-bottom: 40px;
}

// .footer_container {
//     width: 400px;
// }
.footer_container-cell {
    width: 250px;
}
.button_update {
    background-image: url(/images/button.png);
    width: 160px;
}
.button_update:hover {
    filter: drop-shadow(2px 3px 5px white);
}
.button_update-ellipse {
    position: relative;
    left: 10px;
    background-color: rgb(70, 70, 70);
    width: 30px;
    height: 30px;
    border: .5px solid rgb(59, 59, 59);
    border-radius: 50%;
}
.button_new-game {
    background-image: url(/images/button2.png);
    width: 180px;
}
.button_new-game:hover {
    filter: drop-shadow(2px 3px 5px white);
}